name: autofix.ci
on: [pull_request, workflow_dispatch]
jobs:
  textlint:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup mise
        uses: jdx/mise-action@d16887ba50704baed7de72bd1e82e04391e4457a # v3.5.0
        with:
          install: true
          log_level: 'debug'
      - name: Install pnpm dependencies
        run: pnpm install --frozen-lockfile
      - name: Cache .npm directory
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Run textlint
        # textlint の終了コードを強制0にする
        run: npx textlint --fix urara/**/*.md | true
        shell: bash {0}
      - name: Autofix
        uses: autofix-ci/action@635ffb0c9798bd160680f18fd73371e355b85f27
